body {
    background-color: powderblue;
    /* metallic seaweed */
    margin: 0;
    color: black;
    font-family: Segoe UI, sans-serif;

}




/* Coded by leo */
/* ------------------texts----------------------- */
div.videotext > h1 {
    font-family: Segoe UI, sans-serif;
    padding-left: 6.8em
}

div.infobox > h2 {
    font-family: Segoe UI, sans-serif;
    color: powderblue;
    text-align: center;
}

div.videotext > h4 {
    font-family: Segoe UI, sans-serif;
    padding-left: 22.9em
}

p.main {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    font-size: 20px;
    text-align: center;
}

p.end {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    color: black;
    text-align: left;
}



/* ------------------concept bar----------------------- */
div.bar {
    background-color: white;
    padding: 10px 0px;
    margin: 0px;
    width: 100%;
    overflow: hidden;
}

div.bar a {
    text-align: center;
    font-family: Segoe UI, sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 30px 15px;
    background-color: white;
    text-align: center;
    color: #040404
}


div.bar a:hover {

    color: #b0e0e6;
}

div.bar a.active {

    color: #b0e0e6;
}

i {
    font-size: 200px;
    color: #0C7489;
}

/* ------------------video----------------------- */
.videosize {
    height: 700px;
    width: 100%;
    overflow: hidden;
}


.videotext {
    position: absolute;
    bottom: 0;
    color: #f1f1f1;
    width: 80%;
    padding: 20px;
}

/* ------------------parallax----------------------- */
.parallax {
    /* The image used */
    background-image: url("Photos/phonecombined.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ------------------tables----------------------- */

/* Procedure for a one-dimensional layout model */
.row {
    display: flex;
}

/* Procedure for two equal columns beside each other */
.column {
    flex: 50%;
    padding: 15px;
}

/* ------------------button----------------------- */
#myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 93;
    border: white;
    outline: white;
    background-color: powderblue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

#myBtn:hover {
    background-color: #555;
}

/*Code by Angelica Paynter 300026844*/

div.feature {
    width: 33%;
    float: left;
    padding: 10px 0px 0px;
    font-family: Segoe UI, sans-serif;
    color:#0C7489;
    
}

div.explaination {
    text-align: center;
    padding: 5%;
    font-size:20px;
    
}
div.explaination > p {
	color:black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:20px;
}

i {
    font-size: 200px;
    color: #0C7489;
}

#Features_head {
	text-align:center;
	opacity:0;
	font-family: Segoe UI, sans-serif;
    font-size: 45px;
	/*color: #0C7489;*/
}

div.feature:hover {
    background-color:#A0CCD2;
    border-radius: 15px;
    /*color:#0C7489;*/
    color:powderblue;
    font-style:italic;
    color:#119DA4;
}


/* Old Navigation bar---not used-- */
div.nav-bar {
    background-color: #0C7489;
    padding: 10px 0px;
    margin: 0px;
    width: 100%;
    overflow: hidden;
}

div.nav-bar a {
    text-decoration: none;
    padding: 30px 15px;
    background-color: #0C7489;
    text-align: center;
    color: #040404
}


div.nav-bar a:hover {

    color: #b0e0e6;
}

div.nav-bar a.active {

    color: #b0e0e6;
}
 /*End of Old Navigation bar */


/*End of coding by Angelica*/



/* Abdul */

#rotatingEye {
	width:20%;
    position:relative;
    display:block;
  margin-left: 575px;
    margin-right: auto;
    margin-top: auto;
    touch-action:none;

}

#pricingHeading {
    font-family: Helvetica;
    text-align: center;
    #padding-right:265px;
    font-size:2.5em;
}
#freeFont {
font-family: Helvetica;
    text-align: center;
    font-size:25px;
    letter-spacing: -1px;
    font-weight:bold;
    line-height: 80%;

}
div.pricing > p {
    font-family: Helvetica;
    text-align: center;
    font-size:25px;
    letter-spacing: -1px;
    font-weight:100;
    line-height: 80%;

}

div.pricing > h1 {
    font-family: Helvetica;
    text-align: center;

}

div.pricing > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
}

div.otherPayments > p {
    font-family: Helvetica;
    text-align: center;
    font-size:23px;
    letter-spacing: -1px;
    line-height: 80%;
}

div.otherPayments > h1 {
    font-family: Helvetica;
    font-size: 30px;
    text-align: center;
    #padding-right:180px;
}

div.otherPayments > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 7%;
}



/* end of code by abdul */



/* Krishna and Abinaash*/

h2 {
    text-align: center
}

hr {
    border-color: #A0CCD2;

}

div.Krishna >p2 {
    position: relative;
    top:64.5px;
    left: 260px;
    font-weight: bold;
}

div.Abinaash >p2 {
    position: relative;
    bottom: 179px;
    left: 675px;
    font-weight: bold;
}

div.Angelica >p2 {
    position: relative;
    bottom:300px;
    left: 440px;
    font-weight: bold;
}

div.Abdul >p2 {
    position: relative;
    bottom: 420px;
    left: 1060px;
    font-weight: bold;
}

div.Leo >p2 {
    position: relative;
    bottom:540px;
    left: 975px;
    font-weight: bold;
}




div.Krishna > p3 {
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    right:93px;
    top: 135px;
}

div.Abinaash > p3 {
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    left: 302px;
    bottom: 110px;
}

div.Abdul > p3 {
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    left: 655px;
    bottom: 350px;
}

div.Angelica > p3 {
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    left: 65px;
    bottom: 235px;
}

div.Leo > p3 {
     font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    left: 650px;
    bottom: 480px;
}

div.Krishna > p4 {
     font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    top: 95px;
    right: 205px;

}

div.Abinaash > p4 {
   font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    bottom: 145px;
    left: 205px;

}


div.Abdul > p4 {
     font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    bottom: 384px;
    left: 540px;
    

}

div.Angelica > p4 {
     font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    bottom: 265px;
    left: -58px;

}

div.Leo > p4 {
   font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    bottom: 510px;
    right: -547px;

}

div.teamtitle > h1{
    font-family: Segoe UI, sans-serif;
    text-align: center;
}