body {
    background-color: powderblue;
    /* metallic seaweed */
    font-family: "Helvetica";
    margin: 0;
    color: black
}



/* Coded by leo */
/* ------------------texts----------------------- */
div.videotext > h1 {
    font-family: Segoe UI, sans-serif;
    padding-left: 6.8em
}

div.infobox > h2 {
    font-family: Segoe UI, sans-serif;
    color: powderblue;
    text-align: center;
}

div.videotext > h4 {
    font-family: Segoe UI, sans-serif;
    padding-left: 22.9em
}

p.main {
    font-family: 'Open Sans Condensed', sans-serif;
    color: black;
    font-size: 20px;
    text-align: center;
}

p.end {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    color: black;
    text-align: left;
}



/* ------------------concept bar----------------------- */
div.bar {
    background-color: white;
    padding: 10px 0px;
    margin: 0px;
    width: 100%;
    overflow: hidden;
}

div.bar a {
    text-align: center;
    font-family: Segoe UI, sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 30px 15px;
    background-color: white;
    text-align: center;
    color: #040404
}


div.bar a:hover {

    color: #b0e0e6;
}

div.bar a.active {

    color: #b0e0e6;
}

i {
    font-size: 200px;
    color: #0C7489;
}

/* ------------------video----------------------- */
.videosize {
    height: 700px;
    width: 100%;
    overflow: hidden;
}


.videotext {
    position: absolute;
    bottom: 0;
    color: #f1f1f1;
    width: 80%;
    padding: 20px;
}

/* ------------------parallax----------------------- */
.parallax {
    /* The image used */
    background-image: url("Photos/phonecombined.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ------------------tables----------------------- */

/* Procedure for a one-dimensional layout model */
.row {
    display: flex;
}

/* Procedure for two equal columns beside each other */
.column {
    flex: 50%;
    padding: 15px;
}

/* ------------------button----------------------- */
#myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 93;
    border: white;
    outline: white;
    background-color: powderblue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

#myBtn:hover {
    background-color: #555;
}

/*Code by Angelica Paynter 300026844*/

div.feature {
    width: 33%;
    float: left;
}

div.explaination {
    text-align: center;
    padding: 5%;

}

div.nav-bar {
    background-color: #0C7489;
    padding: 10px 0px;
    margin: 0px;
    width: 100%;
    overflow: hidden;
}

div.nav-bar a {
    text-decoration: none;
    padding: 30px 15px;
    background-color: #0C7489;
    text-align: center;
    color: #040404
}


div.nav-bar a:hover {

    color: #b0e0e6;
}

div.nav-bar a.active {

    color: #b0e0e6;
}

i {
    font-size: 200px;
    color: #0C7489;
}

/*End of coding by Angelica*/



/* Abdul */
div.pricing > p {
    font-family: Helvetica;
    text-align: center;

}

div.pricing > h1 {
    font-family: Helvetica;
    text-align: center;

}

div.pricing > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 10%;
}

div.otherPayments > p {
    font-family: Helvetica;
    text-align: center;
}

div.otherPayments > h1 {
    font-family: Helvetica;
    font-size: 30px;
    text-align: center;
}

div.otherPayments > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 10%;
}



/* end of code by abdul */



/* Krishna and Abinaash*/

h2 {
    text-align: center
}

hr {
    border-color: #A0CCD2;

}

p2 {
    position: relative;
    bottom: 130px;
    font-weight: bold;
    left: 5px;
}

div.Krishna > p3 {
    position: relative;
    left: 110px;
    bottom: 130px;
}

div.Abinaash > p3 {
    position: relative;
    left: 65px;
    bottom: 130px;
}

div.Abdul > p3 {
    position: relative;
    left: 35px;
    bottom: 130px;
}

div.Angelica > p3 {
    position: relative;
    left: 85px;
    bottom: 130px;
}

div.Leo > p3 {
    position: relative;
    left: 150px;
    bottom: 130px;
}

div.Krishna > p4 {
    position: relative;
    bottom: 100px;
    right: 422px;

}

div.Abinaash > p4 {
    position: relative;
    bottom: 100px;
    right: 447px;

}


div.Abdul > p4 {
    position: relative;
    bottom: 100px;
    right: 534px;

}

div.Angelica > p4 {
    position: relative;
    bottom: 100px;
    right: 472px;

}

div.Leo > p4 {
    position: relative;
    bottom: 100px;
    right: 387px;

}
