body{
    background-color: #A0CCD2; /* metallic seaweed */
    font-family: "Helvetica";
    margin: 0;
}



/* Coded by leo */
/* Procedure for title text layout */
h1 {
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
}

/* Procedure for body text layout */
p.content {
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
}
		
/* Procedure for a one-dimensional layout model */
.row {
	display: flex;
}

/* Procedure for two equal columns beside each other */
.column {
	flex: 50%;
    	padding: 5px;
}








/*Code by Angelica Paynter 300026844*/

div.feature {
	width:33%;
	float:left;
}
div.explaination {
	text-align:center;
	padding: 5%;
	
}
div.nav-bar {
	background-color:#0C7489;
	padding: 10px;
	margin: 0px;
	width: 100%;
	overflow:hidden;
}
div.nav-bar a {
	text-decoration:none;
	padding: 30px 15px;
	background-color:#0C7489;
	text-align: center;
	color:#040404
}


div.nav-bar a:hover {
	background-color:#13505B;
	color: #119DA4;
}
div.nav-bar a.active {
	background-color:#13505B;
	color:#119DA4;
}
i {
	font-size:200px;
	color:#0C7489;
}

/*End of coding by Angelica*/



/* Abdul*/



/* Krishna and Abinaash*/
hr {
    border-color: #A0CCD2;
}

p2{
    text-align:left;
    
    
}